JWT_SECRET=
COOKIE_SECURE=
COOKIE_SAMESITE=
DB_HOST=
DB_NAME=
DB_PORT=
DB_USER=
DB_PASS=
AVATARS_DIR=
AWS_S3_ENDPOINT=
AWS_S3_BUCKET=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
ML_SERVICE_URL=
AWS_REGION=
VK_CLIENT_ID=